@import "~fluid-player/src/css/fluidplayer.css";

@import 'variables';
@import 'toastContainer';
@import 'toast';
@import 'theme';
@import 'closeButton';
@import 'progressBar';
@import 'icons';

// entrance and exit animations
@import 'animations/bounce.scss';
@import 'animations/zoom.scss';
@import 'animations/flip.scss';
@import 'animations/slide.scss';
@import 'animations/spin.scss';

// Colors
$accent: #E2003B;
$accent-v1: #F1465F;
$accent-v2: #F86870;
$accent-hover: darken($accent, 7%);
$secondary-accent: #AD0533;
$primary: #0E141B;
$secondary: #13212C;
$link: #47AFFF;
$gray: #B8B8B8;
$blueish-gray: #636669;
$light-gray: #E4E6EB;
$white-color: #FFFFFF;
 

// Font variables
$sml: 0.9375rem;
$med: 1.125rem;
$big: 2.5rem;


// Padding
$popUp-padding: 1rem;


@mixin big-bold() {
    font-size: $big;
}

@mixin med-semibold() {
    font-size: $med;
}

@mixin sml-semibold() {
    font-size: $sml;
}

$font-stack: 'Open Sans', sans-serif;

@mixin btn($color: $accent, $hover-color: black, $mix-ptc: 85%) {
    font-family: $font-stack;
    font-size: $sml;
    font-weight: 500;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    min-height: 2rem;
    min-width: 8rem;
    border-radius: 0.5rem;
    background-color: $color;
    color: $white-color;
    border: none;
    &:hover {
        background-color: mix($color, $hover-color, $mix-ptc);
    }

}


// Buttons //

.btn-red {
    @include btn();
    &:active {
        background-color: $accent-v1;
    }
}

.btn-darker-red {
    @include btn($secondary-accent);
}

.btn-dark {
    @include btn($secondary, white, 90%);
}

.btn-darkest {
    @include btn($primary, white, 90%);
}


.closeBtn-cont, .backBtn-cont {
    &:hover {
        background-color: rgba($gray, $alpha: 0.2);
        border-radius: 9999px;
    }
}

.closeBtn, .backBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2.25rem;
    min-height: 2.25rem;
}

.backBtn svg {
    height: 1.25rem;
}

.read-more-blue-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    cursor: pointer;
    
}

.read-more-blue-button svg {
    height: 0.9rem;
    fill: $link;
    margin-left: 0.3rem;
    pointer-events: none;
}

.read-more-blue-button span {
    pointer-events: none;
    color: $link;
    font-size: $sml;
}

// Text //

.big-bold {
    font-size: $big;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
}

.med-semibold {
    font-size: $med;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}

.med-regular {
    font-size: $med;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center;
}

.med-bold {
    font-size: $med;
    font-weight: 700;
}

.sml-semibold {
    font-size: $sml;
    font-weight: 600;
}

.sml-regular {
    font-size: $sml;
    font-weight: 500;
}

.gray {
    color: $gray;
}



// Top Bar //

.topBar {
    max-height: 3.5rem;
}

.topBar-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topBar-align-left, .topBar-align-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-container, .onlineUsers-cont {
    margin: 1rem 0.5rem 1rem 1rem;
}

.onlineUsers-cont {
    white-space: nowrap;
}

.expandable-nav-bar-cont {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    position: relative;
}

.expand-nav-bar-button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
    &:hover{
        background-color: $secondary;
    }
}

.expand-nav-bar-button svg {
    height: 1.25rem;
    fill: gray;
}

.expandable-nav-bar-cont ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.expandable-nav-bar-cont ul li {
    border-radius: 0.5rem;
    &:hover {
        background-color: lighten($color: $secondary, $amount: 10);
    }
}

.expandable-nav-bar-cont ul li a {
    font-weight: 600;
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
}

.expandable-nav-bar-cont ul li a svg {
    height: 1.6rem;
    padding-right: 0.5rem;
}

.expandable-nav-bar {
    position: absolute;
    display: none;
    top: 100%;
    z-index: 1;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: $secondary;
    min-width: 15rem;
    z-index: 10;
}



// Loading //

.loading-cont {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 11;
    pointer-events: none;
}

.loading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 500ms;
}

.loading-secondaryText {
    max-width: 30rem;
    padding: 1rem 2rem;
    margin: 0.5rem;
    text-align: center;
    color: lightgray;
    background-color: rgba($primary, 0.5);
    border: 1px solid rgba($blueish-gray, 0.5);
    border-radius: 1rem;
    backdrop-filter: blur(50px);
    pointer-events: all;
}

.loading-secondaryText span {
    font-size: 0.9375rem;
    display: flex;
    flex-direction: column;
}

.loading-secondaryText span p {
    padding-top: 1rem;
    user-select: text;
}

.loading-icon {
    min-height: 2.5rem;
    min-width: 2.5rem;
    max-width: 2.5rem;
    max-height: 2.5rem;
    fill: $accent;
    transform: rotateZ(30deg);
    -ms-transform: rotateZ(30deg);
    animation: loading-icon-rotate 0.75s infinite step-start;
}

@keyframes loading-icon-rotate {
    0%{ transform: rotateZ(0deg);}
    8.33%{ transform: rotateZ(30deg);}
    16.66%{ transform: rotateZ(60deg);}
    24.99%{ transform: rotateZ(90deg);}
    33.32%{ transform: rotateZ(120deg);}
    41.65%{ transform: rotateZ(150deg);}
    49.98%{ transform: rotateZ(180deg);}
    58.31%{ transform: rotateZ(210deg);}
    66.64%{ transform: rotateZ(240deg);}
    74.97%{ transform: rotateZ(270deg);}
    83.3%{ transform: rotateZ(300deg);}
    91.63%{ transform: rotateZ(330deg);}
    100%{ transform: rotateZ(360deg);}
}

.loading-bottom {
    margin-top: 1rem;
}



// Camera //

.camera-cont {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba($secondary, 0.75);
    &:hover {
        background-color: lighten(rgba($secondary, 0.75), 5);
    }
}

.request-camera {
    display: flex;
    cursor: pointer;
    border-radius: 1rem;
    aspect-ratio: 10 / 7;
}

.request-camera-cont {
    backdrop-filter: blur(100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 1rem;
    width: 100%;
}

.request-camera-text {
    font-weight: 600;
    color: $light-gray;
    max-width: 8rem;
    text-align: center;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.request-camera-svg, .request-camera-text {
    margin: 0.3rem 0;
}

.mic-control-cont {
    cursor: pointer;
    position: absolute;
    z-index: 10;
    bottom: 1rem;
    left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mic-control {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 9999px;
    border: none;
    margin: 0;
    background-color: $primary;
    appearance: none;  
    -webkit-appearance: none;
    &:checked{
        background-color: $accent;
    }
}

.micOpen-svg {
    position: absolute;
    max-height: 1.25rem;
    fill: $white-color;
}

.micClosed-svg {
    position: absolute;
    max-height: 1.25rem;
    fill: $gray;
}

.rotate-camera-cont {
    cursor: pointer;
    position: absolute;
    z-index: 10;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 9999px;
    background-color: $primary;
}

.rotate-camera-svg {
    fill: $white-color;
    height: 1rem;
    pointer-events: none;
}

.video-cont {
    position: relative;
    height: 100%;
    background-color: black;
}

.camera {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    z-index: 0;
}



// PopUp //

.popUp {
    position: absolute;
    z-index: 1;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($primary, 0.7);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    
}

.popUp-cont {
    background-color: $secondary;
    border-radius: 15px;
}

.popUp-top-cont {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
}

.popUp-main {
    padding: 0 $popUp-padding;
    overflow: hidden;
}




// ComeBackLater //

.ComeBackLater {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
}

.ComeBackLater-cont {
    position: relative;
    max-width: 38rem;
    width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.ComeBackLater-title {
    margin: 1.5rem 0 0.25rem 0;
}

.ComeBackLater-countdown-value-cont {
    display: flex;
    background-color: $secondary;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
}

.ComeBackLater-access-time-text {
    color: white;
    font-weight: 400;
    font-style: italic;
    margin: 0.5rem 0 1rem 0;
}

.ComeBackLater-description {
    margin: 0.5rem 0;
    max-width: 30rem;
    font-weight: 300;
}

.ComeBackLater-cont span {
    padding: 0 0.5rem;
}



// Welcome //

.welcome{
    // text-align: center;
    // max-width: calc(38rem - $popUp-padding * 2);
    // position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-cont {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // overflow: hidden;
    position: relative;
    max-width: 38rem;
    width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@keyframes scroll {
    0% { transform: translateX(0); }
	100% { transform: translateX(calc(-13.5rem * 10))}
}

.carousel-cont {
    width: 100%;
    position: relative;
}

.carousel-media {
    min-width: 200px;
}

.carousel {
    margin-top: 1rem;
}

.carousel {
    position: relative;
    min-height: auto;
    align-self: stretch;
    margin-left: -$popUp-padding;
    margin-right: -$popUp-padding;
    display: flex;
    flex-direction: row;
    animation: scroll 50s linear infinite;
}

.carousel .carousel-media {
    background-color: $primary;
    border-radius: 1rem;
    margin-right: 1rem;
    overflow: hidden;
    width: 200px;
    height: 200px;
    position: relative;
    display: flex;
}

.carousel .carousel-media .carousel-video {
    border-radius: 1rem;
}

.carousel-fade-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40%;
    
}

.carousel-start {
    left: 0;
    background: linear-gradient(to left, rgba($primary, 0), $primary);
}

.carousel-end {
    right: 0;
    background: linear-gradient(to right, rgba($primary, 0), $primary);
}

.welcome-title {
    margin: 1rem 0 1rem 0
}

.welcome-text {
    max-width: 25rem;
}

.welcome-read-more-button {
    background-color: $secondary;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    min-width: 8rem;
    min-height: 2rem;
    cursor: pointer;
    &:hover {
        background-color: lighten($secondary, 2);
    }
    
}

.welcome-read-more-button svg {
    height: 1rem;
    fill: white;
    margin-left: 0.5rem;
    pointer-events: none
}

.welcome-read-more-button span {
    pointer-events: none
}

.welcome-read-more {
    width: 100%;
    min-height: 15rem;
    max-height: 20rem;
    border-radius: 1rem;
    background-color: $secondary;
    margin-top: 1rem;
    padding: 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: $primary $blueish-gray;
    &::-webkit-scrollbar {
        width: 2rem;
    }
    &::-webkit-scrollbar-track {
        background-color: $primary;
        border-radius: 1rem;
    }
    &::-webkit-scrollbar-track:hover {
        background-color: $primary;
    }
    &::-webkit-scrollbar-thumb {
        border: 12px solid $primary;
        border-radius: 1rem;
        background-color: $blueish-gray;
    }
}

@supports (-ms-overflow-style: none) {
    .welcome-read-more {
      -ms-overflow-style: none;
      &::-ms-scrollbar {
        width: 2rem;
      }
      &::-ms-scrollbar-track {
        background-color: $primary;
        border-radius: 1rem;
      }
      &::-ms-scrollbar-thumb {
        background-color: $blueish-gray;
        border: 12px solid $primary;
        border-radius: 1rem;
      }
    }
}

.welcome-read-more span p {
    margin-bottom: 1rem;
}

.welcome-privacy {
    background-color: $secondary;
    border-radius: 1rem;
    padding: 1rem 1rem 0.5rem 1rem;
    margin: 1rem 0.5rem 0.5rem 0.5rem;

}

.welcome-privacy-title {
    margin-bottom: 1rem;
}

.welcome-privacy-text {
    margin-bottom: 1.5rem;
}

.welcome-btn {
    min-width: 10rem;
    padding: 0 1rem;
    margin: 0 0.25rem 1rem 0.25rem;
}


// Privacy //

.Privacy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.privacy-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
}

.privacy-description {
    margin-bottom: 1rem;
    max-width: 28rem;
    text-align: center;
}

.toggleOption {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    min-height: 6rem;
    width: 100%;
    margin-bottom: 1rem;
    background-color: $primary;
    border-radius: 1rem;
}

.toggleOption-box {
    position: absolute;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.toggleOption-svg {
    position: absolute;
}

.toggleOption-checkbox {
    min-width: 1.5rem;
    min-height: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 9999px;
    background-color: $secondary;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    &:checked {
        background-color: $accent;
    }&:checked ~ .toggleOption-box {
        border: 2px solid $accent;
    }&:not(:checked) ~ .toggleOption-box {
        border: none;
    }&:checked::after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.34' height='9.743' viewBox='0 0 12.1 9.12'%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpath d='M4.48,9.12a1.5,1.5,0,0,1-1.06-.44l-3-3A1.5,1.5,0,0,1,2.56,3.59L4.48,5.5,9.54.44a1.49,1.49,0,0,1,2.12,0,1.51,1.51,0,0,1,0,2.12L5.54,8.68A1.52,1.52,0,0,1,4.48,9.12Z' style='fill:%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -70%);
        width: 13.34px;
        height: 9.743px;
    }&:disabled {
        opacity: 0.5;
    }&:disabled ~ .toggleOption-box {
        opacity: 0.5;
    }
}

.toggleOption-text-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 1rem 1rem 0;
}

.toggleOption-title {
    font-weight: 600;
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
}

.toggleOption-link {
    z-index: 1;
}

.privacy-btn {
    margin-bottom: 1rem;
}



// Home //

.sessionSetup-form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 auto;
    max-width: 660px;
    
}

.sessionSetup-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.sessionSetup-section-title, .sessionSetup-section-description {
    padding: 0 1rem 0 1rem;
}

.FormSelect {
    align-self: stretch;
    margin-bottom: 1rem;
}

.FormSelect-cont {
    position: relative;
    padding: 0 0.5rem 0 0.5rem;
}

.sessionSetup-button-cont {
    margin: 0 auto;
    margin-bottom: 1rem;
}

.sessionSetup-camera-cont {
    display: flex;
    justify-content: center;
}


.sessionSetup-camera-cont-cont{
    max-height: 25rem;
    max-width: 20rem;
    width: 100%;
    margin: 0 1rem 1rem 1rem;
    display: flex;
    justify-content: center;
}

.country-select {
    text-align: center;
    max-width: calc(38rem - $popUp-padding * 2);
}

.country-select-cont {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.country-select-button-cont {
    margin: 1rem;
}



//sesion Setup //

.fieldset-cont {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $secondary;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
}

.validationError {
    position: absolute;
    z-index: 1;
    background-color: $accent;
    border-radius: 0 0 1rem 1rem;
    text-align: center;
    padding: 0.25rem;
    font-size: $sml;
    max-width: 100%;
}

.legent-cont {
    font-weight: 600;
    margin-left: 0.5rem;

}

.options-cont {
    display: flex;

}

.sessionSetup-option {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.sessionSetup-option input {
    position: absolute;
    cursor: pointer;
    margin: 0;
    border-radius: 9999px;
    min-height: 2rem;
    min-width: 8rem;
    appearance: none;  
    -webkit-appearance: none;
    &:checked ~ .sessionSetup-optionLabel-cont{
        background-color: $accent;
        color: $white-color;
    }&:not(:checked):hover ~ .sessionSetup-optionLabel-cont{
        background-color: rgba($blueish-gray, 30%);
        color: $primary;
    }&:checked:hover ~ .sessionSetup-optionLabel-cont{
        background-color: $accent-hover;
        color: $white-color;
    }
}

.sessionSetup-optionLabel-cont {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    color: $blueish-gray;
    border-radius: 9999px;
    min-height: 2rem;
    min-width: 8rem;
    font-weight: 500;
}

.more-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    min-height: 2rem;
    min-width: 2rem;
    border: none;
    background-color: $primary;
    margin-right: 1rem;
    &:hover > #more-btn-svg {
        fill: $primary;
    }&:hover {
        background-color: rgba($blueish-gray, 30%);
    }
}

.more-btn-svg {
    fill: $blueish-gray;
    width: 1rem;
}

.moreElements-cont {
    position: absolute;
    right: 0;
    top: 50%;
    padding-top: 1rem;
    z-index: -1;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0px 0px 1rem 1rem rgba($primary, 1);
    -webkit-box-shadow: 0px 0px 1rem 1rem rgba($primary, 1);
    background-color: $secondary;
}

.moreElements-cont .sessionSetup-option {
    margin: 0.5rem;
}



// Session //

.session {
    height: 100%;
    position: relative;
}

.session-cont {
    height: 100%;
    display: flex;

}

.camera-side {
    margin: 0 1rem 1rem 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    width: 100%;
    overflow: hidden;
    transform: translateZ(0);
    z-index: 1;
}

.camera-side-cont {
    position: relative;
    height: 100%;
    display: flex;
}

.camera-side-camera {
    position: relative;
    display: flex;
    justify-content: end;
    width: 100%;
}

.camera-side-camera-cont {
    max-width: 20rem;
    max-height: 20rem;
    width: 100%;
    height: 100%;
    margin: 1rem;
}

.RemoteCamera {
    position: absolute;
    width: 100%;
    height: 100%;
    // z-index: -1;
}

.backdrop-blur {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: linear-gradient(rgba($secondary, 0.50), rgba($secondary, 1));
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border-radius: 1rem;
    box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.70);
}

.RemoteCamera-video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.RemoteCamera-video-background-blur {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
}

.camera-side-ad-cont {
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.camera-side-ad {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 90px;
    max-width: 728px;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
}

.camera-side-ad-closeBtn {
    background-color: $secondary;
    border: 0;
    border-radius: 0.5rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.35rem;
    padding: 0.75rem;
    top: 0;
    right: 0;
    height: 1rem;
    width: 1rem;
    z-index: 1;
}

.camera-side-ad-closeBtn-svg {
    min-height: 0.6rem;
    min-width: 0.6rem;

}

.MobileAdBanner {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.MobileAdBanner-cont {
    position: relative;
    height: 100px;
    width: 300px;
    border-radius: 0.5rem;
    overflow: hidden;
}

.VideoAd-cont {
    z-index: 12;
}

.VideoAd {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.VideoAd-video {
    width: 100%;
    height: 100%;
}

.playButton-cont {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playButton-svg {
    width: 150px;
    height: 150px;
    fill: white;
    cursor: pointer;
    stroke: black;
    stroke-width: 1px;
    filter: drop-shadow(0px 0px 10px rgb(0 0 0 / 0.5));

}

.chat-side {
    margin: 0 1rem 1rem 0;
    min-width: 25rem;
    max-width: 25rem;

}

.chat-side-ad {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



// Chat //

.chat-side-cont {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat {
    height: 100%;
    overflow: auto;
}

.chat-cont {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-header {
    min-height: 4rem;
    background-color: $secondary;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.chat-header-userInfo-cont {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.userName-cont {
    margin: 1rem;
}

.chat-header-report-cont {
    margin-right: 1rem;
}

.chat-header-report-cont button {
    min-width: 0;
}

.main-and-controls {
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative;
    height: 100%;
}

.fade-overlay {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.fade-top, .fade-bottom {
    width: 100%;
    min-height: 5rem;
    transition: opacity 0.15s;
}

.fade-top {
    background: linear-gradient($primary, rgba($primary, 0));
}

.fade-bottom {
    background: linear-gradient(rgba($primary, 0), $primary);
    opacity: 0;
}

.chat-main-cont {
    position: relative;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.pre-chat-main {
    padding: 1rem 0.5rem;
}

.chat-main {
    position: relative;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    -ms-overflow-style: none;
    scrollbar-width: none;
    white-space: pre-wrap;
    &::-webkit-scrollbar {
        display: none;
    }
}

.typing {
    margin-bottom: 0.25rem;
    display: flex;
}

.dot-cont {
    background-color: $secondary;
    border-radius: 1rem 1rem 1rem 0.5rem;
    min-height: 2.25rem;
    display: flex;
    align-items: center;
    padding: 0 0.75rem;
}

.dot-1, .dot-2, .dot-3 {
    background-color: gray;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 9999px;
    margin: 0.15rem;
}

.dot-1 {
    animation: typing-pulse 1.5s 0s infinite;
}

.dot-2 {
    animation: typing-pulse 1.5s 0.25s infinite;
}

.dot-3 {
    animation: typing-pulse 1.5s 0.5s infinite;
}

@keyframes typing-pulse {
    0%{ background-color: lightgray;}
    50%{ background-color: rgb(85, 85, 85);}
    100%{ background-color: lightgray;}
}

.partner-message-cont, .user-message-cont {
    width: 100%;
    display: flex;
    word-break: break-all;
}

.partner-message-cont {
    justify-content: flex-start;
}

.user-message-cont {
    justify-content: flex-end;
}

.partner-message, .user-message {
    font-size: $sml;
    margin-bottom: 0.25rem;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
}

.user-message {
    background-color: $light-gray;
    border-radius: 1rem 1rem 0.25rem 1rem;
    color: $primary;
    font-weight: 500;
    max-width: 80%;
}

.partner-message {
    background-color: $secondary;
    border-radius: 1rem 1rem 1rem 0.5rem;
    font-weight: 400;
    max-width: 80%;
}

.announcement-cont {
    display: flex;
    justify-content: center;
}

.announcement {
    font-size: $sml;
    text-align: center;
    color: $light-gray;
    padding: 0 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.session-controls {
    display: flex;
    justify-content: center;
}

.confirmation-buttons-cont {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.confirmation-buttons {
    display: flex;
    width: 100%;
}

.confirmation-buttons button {
    width: 100%;
    margin: 1rem;
}

.session-controls div {
    margin: 0 1rem 1rem 1rem;
    padding: 0;
    width: 100%;
}

.session-controls div button {
    width: 100%;
}

.session-disconnect {
    width: 100%;
}

.confirmation {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba($primary, 0.75)  0%, $primary 100%);
    backdrop-filter: blur(5px);

}

.confirmation-text {
    max-width: 19rem;
    text-align: center;
}

.chat-input-cont {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: $secondary;
    border-radius: 1.25rem;
    
}

.chat-input {
    font-family: $font-stack;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    border-radius: 1.25rem 0 0 1.25rem;
    min-height: 2.5rem;
    max-height: 9rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    word-break: break-all;
    -ms-word-break: break-all;
    overflow-y: auto;
    align-self: center;
    cursor: text;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    &[placeholder]:empty::before{
        content: attr(placeholder);
        color: $blueish-gray;
    }&[placeholder]:empty:focus::before{
        content: '';
    }&:focus{
        outline-offset: -2px;
        outline: none;
    }
}


.chat-send {
    background-color: $accent;
    border: none;
    border-radius: 9999px;
    min-height: 2rem;
    min-width: 2rem;
    margin: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        background-color: $accent-hover;
    }&:disabled{
        opacity: 0.5;
    }
}



// General //

:root {
    color-scheme: dark;
  }

html {
    background-color: $primary;
    color: $white-color;
    font-family: $font-stack;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, #root, .App {
    height: 100%;
}

main {
    height: calc(100% - (22px + 2rem));
}

h1, h2, span, p {
    display: inline-block;
}

body, h1, h2, span, p {
    margin: 0;
    padding: 0;
}

a {
    color: $link;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

iframe {
    border-radius: 1rem;
    border: none;
}



// Cursor Control //

button, div[role=button], input[type=radio], input[type=checkbox], .sessionSetup-optionLabel-cont label, .loading {
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:disabled{
        opacity: 0.5;
    }
}

button, div[role=button], input[type=radio], input[type=checkbox], .sessionSetup-optionLabel-cont label {
    cursor:pointer;
  }



// Misc //

::-moz-selection {
    color: $white-color;
    background: $accent;
  }
  
::selection {
    color: $white-color;
    background: $accent;
}


// Scrollbar //

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: $blueish-gray $secondary;
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    width: 8px;
    width: 8px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: $secondary;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: $secondary;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: $secondary;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: $blueish-gray;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #73777a;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: $blueish-gray;
  }
  


// Media Queries //

@media (max-width: 650px) {

    // ComeBackLater //

    .carousel .carousel-media {
        min-width: 40vw;
        height: 40vw;
        margin-right: 0.5rem;
    }

    .carousel .carousel-media .carousel-video {
        height: auto;
        width: auto;
    }


    @keyframes scroll {
        0% { transform: translateX(0); }
        100% { transform: translateX(calc(-31.5vw * 10))}
    }

    // Home //

    .FormSelect {
        align-self: center;
    }

    .fieldset-cont {
        margin-top: 2rem;
    }

    .legent-cont {
        position: absolute;
        z-index: -1;
        top: -2rem;
        margin: 0;
        font-weight: 700;
        font-size: $med;
    }

    .legent-cont legend::after {
        content: ':';
    }

    
    // Session //

    .session-cont {
        flex-direction: column;
    }

    .camera-side {
        height: fit-content;
        width: auto;
        height: 50%;
        margin: 0.5rem 0.5rem 0.25rem 0.5rem;
    }

    .camera-side-camera-cont {
        max-width: 10rem;
        max-height: 7rem;
        margin: 0.5rem;
    }

    .camera-cont {
        border-radius: 1.25rem;
    }
    
    .request-camera-cont {
        width: 100%;
        border-radius: 1.25rem;
    }

    .request-camera-svg {
        height: 2rem;
    }

    .request-camera-text {
        font-size: 0.875rem;
    }

    .mic-control-cont {
        bottom: 0.5rem;
        left: 0.5rem;
    }

    .rotate-camera-cont {
        bottom: 0.5rem;
        right: 0.5rem;
    }

    .loading-secondaryText {
        position: absolute;
        top: 0;
        overflow: auto;
        max-height: 90%;
        box-sizing: border-box;
        padding: 1rem 1rem;
        max-width: none;
    }

    .chat-side {
        height: 50%;
        margin: 0.25rem 0.5rem 0.5rem 0.5rem;
        max-width: 100%;
        min-width: auto;
    }

    .chat-header {
        display: none;
        padding: 0.5rem;
    }

    .chat-header-userInfo-cont {
        margin-left: 0;
    }

    .chat-header-userInfo-cont svg {
        height: 1.5rem;
    }

    .userName-cont {
        margin: 0;
    }

    .session-controls div, .confirmation-buttons button {
        margin: 0 0.5rem 0.5rem 0.5rem;
    }

}

@media (max-width: 500px) {
    // Welcome //

    .welcome-title {
        font-size: 7.5vw;
    }

    .welcome-text {
        font-size: 4vw;
    }

    .welcome-privacy-title {
        font-size: 7.5vw;
    }

    .welcome-privacy-text {
        font-size: 4vw;
    }
}

@media (max-width: 425px) {

    .expandable-nav-bar-cont {
        position: inherit;
    }

    .expandable-nav-bar {
        top: 54px;
        left: 50%;
        transform: translate(-50%);
    }
}


// FluidPlayer style overwite

#VideoAd-video_fluid_cta {
    background-color: rgba(#13212C, 0.9) !important;
    border-radius: 1rem 0 0 1rem !important;
    padding-left: 1.5rem;
    &:hover{
        background-color: rgba(#13212C, 1) !important;
}

}

#VideoAd-video_fluid_controls_container {
    visibility: hidden !important;
}

#skip_button_VideoAd-video {
    visibility: hidden !important;
}

#ad_countdownVideoAd-video {
    visibility: hidden !important;
}

#vast_video_loading_VideoAd-video {
    visibility: hidden !important;
}